@use '../abstracts' as *;

.home {
  position: relative;

  .hero {
    z-index: 1;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
    }

    .content {
      max-width: 800px;
      margin-inline: auto;
      padding-top: 12rem;
      color: var(--clr-neutral-100);
      text-align: center;

      @include large {
        text-align: left;
        margin-inline: unset;
        margin-right: auto;
        padding-top: 15rem;
      }

      h1 {
        font-size: $fs-800 + 0.6;
        line-height: 1.2;
        margin-bottom: 0.5rem;

        @include small {
          font-size: $fs-700;
        }

        @include large {
          font-size: 4rem;
        }
      }

      p {
        margin-bottom: 1rem;
        max-width: 600px;
        margin-inline: auto;
        font-size: $fs-400;

        @include large {
          margin-inline: unset;
          margin-right: auto;
        }
      }

      .buttons {
        margin-top: 1rem;
        @include flex(center, center);

        @include large {
          justify-content: flex-start;
        }
      }
    }
  }
}
