@use '../abstracts' as *;

.room-page {
  padding-top: 7rem;
  margin-bottom: 4rem;

  .room-title {
    text-align: center;
    padding-block-start: 3rem;
  }

  .description {
    margin-bottom: 2rem;
  }

  h3 {
    font-size: $fs-600;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  .features {
    margin-bottom: 2rem;
    @include flex(center, center);
    gap: 1rem;
    flex-wrap: wrap;

    .feature {
      @include flex(center, flex-start);

      p {
        margin-left: 0.5rem;
        font-size: $fs-300;
      }
    }
  }

  img {
    border-radius: 0.2rem;
    width: 100%;
  }

  .main-img {
    margin-bottom: 1rem;
    width: 100%;
  }

  // Details
  .details {
    margin-top: 3rem;

    @include medium {
      margin-top: 0;
    }
  }

  // amenities
  .amenities {
    margin-bottom: 3rem;

    .grid {
      @include grid(repeat(2, 1fr), 1.1rem);
    }

    .amenity {
      @include flex(center, flex-start);

      p {
        margin-left: 0.5rem;
        font-size: $fs-300;
      }
    }
  }

  .icon {
    color: var(--clr-primary-400);
  }

  .more-features {
    margin-bottom: 3rem;

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    li {
      position: relative;
      margin-left: 1rem;
      padding-left: 0.5rem;

      &::after {
        content: '';
        position: absolute;
        top: 0.4rem;
        left: -1rem;
        background-color: var(--clr-primary-400);
        width: 8px;
        height: 8px;
        border-radius: $radius-500;
      }
    }
  }

  .star {
    color: #f5c136;
  }
}

// Breakpoints
@include medium {
  .room-page {
    .room-grid {
      margin-top: 6rem;
      @include grid(repeat(2, 1fr), 2rem);
    }
  }
}
