@use '../abstracts' as *;

.amenities {
  .title {
    h2 {
      margin-bottom: 0.5rem;
    }

    @include large {
      text-align: left;
    }
  }

  .content {
    h3 {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 1rem;

      @include large {
        text-align: left;
      }
    }

    .grid {
      @include grid(repeat(2, 1fr), 1rem);
      text-align: center;

      @include large {
        text-align: start;
      }
    }

    .amenity {
      img {
        width: 50px;
        margin-inline: auto;

        @include large {
          margin: inherit;
        }
      }

      @include large {
        @include flex(center, flex-start);
        gap: 1rem;
      }
    }
  }

  @include large {
    .d-grid {
      @include grid(repeat(2, 1fr), 1.5rem);
    }
  }
}
