@use '../abstracts' as *;

.category {
  text-align: center;

  p {
    max-width: 500px;
    margin-inline: auto;
  }

  img {
    border-top-right-radius: $radius-300;
    border-top-left-radius: $radius-300;
  }

  .cta {
    position: relative;
    background-color: var(--clr-neutral-100);
    padding: 1rem;
    width: 100%;
    border-bottom-right-radius: $radius-300;
    border-bottom-left-radius: $radius-300;
    font-size: $fs-400;
    color: var(--clr-neutral-900);
    font-weight: 500;
    text-align: left;
  }

  &-content:hover .cta {
    color: var(--clr-primary-400);
    text-decoration: underline;
  }

  .btn {
    margin-top: 3rem;
  }
}
