@use '../abstracts' as *;

.animated-counter {
  font-size: $fs-650;
  font-weight: bold;
  color: var(--clr-primary-400);
  animation: fadeIn 1s ease-out;

  @include medium {
    font-size: $fs-800;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
