@use '../abstracts' as *;

.dashboard {
  .avatar {
    cursor: pointer;
    width: 30px;
    border-radius: $radius-500;
  }

  .flex {
    @include flex(center, flex-start);

    p {
      margin-right: 0.5rem;
      font-weight: 500;
      color: var(--clr-neutral-100);

      @include extra-small {
        display: none;
      }
    }

    .showUserName {
      color: var(--clr-neutral-900);
    }
  }

  .dropdown {
    position: relative;
    cursor: pointer;

    &-menu {
      position: absolute;
      @include flex(flex-start, flex-start);
      flex-direction: column;
      border-radius: $radius-sm;
      top: 2.5rem;
      right: 0;
      background-color: var(--clr-neutral-100);
      width: 180px;
      box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
    }

    &-item,
    &-item-button {
      background: none;
      color: var(--clr-neutral-900);
      font-size: 1rem;
      width: 100%;
      padding: 0.5rem 0.8rem;
    }

    &-item-button {
      text-align: left;
    }
  }

  .dropdown-item:hover,
  .dropdown-item-button:hover {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
  }
}
