@use '../abstracts' as *;

.gallery {
  z-index: 3000;

  .gallery-image {
    .gallery-img {
      height: 220px;
    }

    .gallery-img img {
      height: 100%;
      object-fit: cover;
      cursor: zoom-in;
      border-radius: $radius-sm;
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include flex(center, center);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 800;
  }

  .modal {
    height: 100vh;

    .close-btn {
      position: fixed;
      top: 2.5rem;
      right: 1rem;
      z-index: 840;
      color: var(--clr-neutral-100);
      cursor: pointer;

      .icon {
        font-size: 2rem;
      }
    }

    .left-btn,
    .right-btn {
      position: fixed;
      top: 50%;
      font-size: 1.5rem;
      transform: translateY(-50%);
      z-index: 1000;
      color: var(--clr-neutral-100);
      cursor: pointer;
      background-color: var(--clr-neutral-900);
      border-radius: $radius-500;
      height: 35px;
      width: 35px;
      display: grid;
      place-items: center;

      @include large {
        background-color: var(--clr-neutral-100);
        color: var(--clr-neutral-900);
      }
    }

    .left-btn {
      left: 2rem;

      @include small {
        left: 1rem;
      }
    }

    .right-btn {
      right: 2rem;

      @include small {
        right: 1rem;
      }
    }

    .full-img img {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 0 0.4rem;
      width: 100%;
      max-width: 1000px;
      z-index: 999;
      user-select: none;
      pointer-events: none;

      @include medium {
        height: 400px;
        object-fit: cover;
      }

      @include large {
        height: 500px;
      }
    }
  }
}
