@use '../abstracts' as *;

/* basic styles */
.skeleton {
  background: hsl(0, 0%, 89.8%);
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 4px;

  &.roomImg {
    width: 100%;
    height: 250px;
    border-radius: $radius-sm;
  }

  &.name {
    width: 40%;
    height: 15px;
  }

  &.price {
    width: 40%;
    height: 15px;
  }

  &.button {
    width: 20%;
    height: 30px;
  }
}

// Rooms page
.rooms-skeleton-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .content {
    width: 100%;
    height: 100%;
  }

  .room-flex {
    @include flex(center, space-between);
  }
}

.hide {
  display: none;
}

@include medium {
  .room-skeleton {
    @include grid(repeat(3, 1fr), 0);
    column-gap: 2rem;
  }
}

/* animation effects */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
