@use '../../abstracts/' as *;

.bg-img {
  position: relative;
  min-height: 60vh;
  width: 100%;
}

.guest-rooms {
  .bg-img {
    background: var(--clr-neutral-300) url(../assets/imgs/guest.webp);
    @include image-property(initial);
  }
}

.suites {
  .bg-img {
    background: var(--clr-neutral-300) url(../assets/imgs/suites.webp);
    @include image-property(initial);
  }
}

.executive {
  .bg-img {
    background: var(--clr-neutral-300) url(../assets/imgs/executive.webp);
    @include image-property(initial);
  }
}
